/* ヘッダー*/
.header-menu{ 	
    display: flex;
 } 
 
 .header-menu ul li{ 	
    display: inline-block;
    padding-top: 30px;
 } 
 
 .header-menu ul {
  margin-left: auto;
}

/*トップページ*/

.top-btn{
  margin-top: 100px;
  margin-left: 450px;
}

.btn-vertical-border {
  position: relative;
  display: inline-block;
  font-weight: bold;
  padding: 5px 11px 5px 15px;
  text-decoration: none;
  color: #67c5ff;
  transition: .4s;
  margin-top: 40px;
  margin-left: 30px;

  &:before {
    position: absolute;
    display: inline-block;
    content: '';
    width: 4px;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: 3px;
    background: #67c5ff;
  }

  &:after {
    position: absolute;
    display: inline-block;
    content: '';
    width: 4px;
    height: 100%;
    top: 0;
    left: 100%;
    border-radius: 3px;
    background: #67c5ff;
  }

  &:hover {
    &:before, &:after {
      -webkit-transform: rotate(10deg);
      transform: rotate(10deg);
    }
  }
}

/* 投稿一覧*/
.topic-index-wrapper {
  padding-top: 70px;
  /**background-color: #fafafa;**/
  .topic-index-single {
    background-color: #fff;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 30px;
    border: 1px solid #e6ecf0;
    border-radius: 3px;
    .topic-author {
      padding-right: 20px;
      padding-left: 20px;
    }

    .topic-text {
      padding-right: 20px;
      padding-left: 20px;
    }

    img {
      margin-top: 10px;
      margin-bottom: 20px;
      width: 100%;
    }

    .topic-index-icon {
      width: 35px;
      height: 30px;
      margin-left: 20px;
    }
    
    .like-btn{
      margin-left: 20px;
    }
  }
}

/** いいねの横に数字表示 **/
.favorite-counts{
  margin-left: 10px;
}